# Desktop Entry Specification: https://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html
[Desktop Entry]
Type=Application
Name=osu
Comment=rhythm is just a *click* away! 
Icon=lazer
Exec=/opt/osu/osu!
Path=~
Terminal=true
Categories=Development;
